.add-task button,input{
  background: purple;
  color: white;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  /* margin: 0rem 0.5rem; */
}

input[type=text]{
  background: transparent;
  border: 1px solid purple;
  color: black;
}